
  <fieldset style="margin:0 auto; width:400px">
      <h1>Sign Up Form</h1>
      <legend>Registration</legend>
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="Pick your firstname"
          ng-model="reg.user.firstname"
          required
          minlength="4"
          ng-maxlength="20">
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            <br>Firstname must be at least 4 characters long
          </span>
          <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            <br>Firstname must not be longer than 20 characters
          </span>
          <br>

          <input type="text" name="lastname" placeholder="Pick your lastname"
            ng-model="reg.user.lastname"
            required
            minlength="4"
            ng-maxlength="20">
            <span
              ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
              <br>Firstname must be at least 4 characters long
            </span>
            <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              <br>Lastname must not be longer than 20 characters
            </span>
            <br>

            <input type="text" name="dish" placeholder="Favorite dish"
              ng-model="reg.user.dish"
              required
              minlength="1"
              ng-maxlength="10">
              <span
                ng-if="(regForm.dish.$error.minlength || regForm.dish.$error.required) && regForm.dish.$touched">
                <br>Favorite dish must be at least 1 character long
              </span>
              <span ng-if="regForm.dish.$error.maxlength && regForm.dish.$touched">
                <br>Favorite dish must not be longer than 10 characters
              </span>
              <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            <br>Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            <br>Phone must be in the format ###-###-####.
          </span>
          <br>


        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()" disabled="disabled">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
            <br>
            <span ng-if="reg.menuerr">Incorrect menu number!</span>
            <span ng-if="reg.menusuccess">Your information has been saved.</span>
          </div>
      </form>
    </fieldset>
